.PagePhotoProfile{
    height: 50vh;
    background-color: #FFE5D9;
    display: flex;
    align-items: center;
    justify-content: center;margin: auto;width: 99%;
  
  } 
  .ContainerPhotoProfile{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: #f7dfd4;
    
  }
  .headingPhoto{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    font-weight: bold;
  
  }
  .img-holderPhoto{
    margin: auto;
    width: 150px;
    height: 150px;
    border: 3px black solid;
    border-radius: 5px;
    margin-top: 1rem;
  }
  .imgPhotoProfile{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  #input[type="file"] {
      display: none;
  }
  .label{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .image-upload{
    margin: auto;

    color: white;
    border-radius: 100px;
    background-color: #9D8189;
    text-align: center;
    cursor: pointer;
  }